<html>
	<head>
		<title>Times of the World</title>
	<body>
		<h1>Enter a city in the Correct Case</h1>
		<form method="POST" action="/submit/city">
			<label>City</label>
			<input type="text" name="city">
			<br><br>
			<input type="submit" name="button">
		</form>
		<p id="error"> </p>
	</body>
</html>